<div>
  <div class="flex justify-between items-center">
    <span>工时概况</span>
    <mat-button-toggle-group>
      <mat-button-toggle value="1">月度</mat-button-toggle>
      <mat-button-toggle value="2">季度</mat-button-toggle>
      <mat-button-toggle value="3">年度</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="flex">
    <div class="flex-auto flex items-center">
      <img class="w-12 aspect-square" src="./assets/ranking.svg"/>
      <div>
        <div>排行</div>
        <div class="text-3xl font-semibold">14</div>
      </div>
    </div>
    <div class="flex-auto flex items-center">
      <img class="w-12 aspect-square" src="./assets/ranking.svg"/>
      <div>
        <div>工时</div>
        <div class="text-3xl font-semibold">14</div>
      </div>
    </div>
  </div>
</div>
