<div>
  <div class="flex justify-around">
    <div class="flex flex-col justify-center" *ngFor="let weekday of displayWeekdays;let i = index">
      <h3 class="text-center">{{week[i].date|date:'d'}}</h3>
      <span>{{weekday}}</span>
    </div>
  </div>

  <div class="flex justify-around bg-amber-100" style="min-height: 36rem;">
    <div class="flex flex-auto  flex-col" *ngFor="let weekday of displayWeekdays;let i = index">
      <span *ngFor="let task of week[i].tasks" class="bg-amber-400 my-5">{{task.projectName}}</span>
    </div>
  </div>

</div>
