
.create-task {
  width: 100%;
}

.task-list {
  width: 100%;
  padding: 10px 0;
}

.task-list h2{
  margin-bottom: 0;
}

.task-item {
  background: white;
  margin: 10px 0;
  border-radius: 4px;
}

.task-title {
  padding: 16px 16px 0 16px;
}

.task-title h2 {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  margin: 0;
  letter-spacing: .0125em;
  text-decoration: inherit;
  text-transform: inherit;
}

.task-title span {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  opacity: .6;
}

.task-content {
  padding: 18px 16px 0 16px;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  opacity: .6;
}

.task-action {
  padding: 8px;
}


.task-item p {
  margin: 0;
  font-size: 12px;
  line-height: 150%;
}

.task-hour {
  font-size: 12px;
}
