<div fxLayout="column" fxLayoutAlign="start center">
  <div class="task-list" *ngIf="daily" fxLayout="column">

    <h2>{{daily.date | dateFnsFormat:'yyyy-MM-dd'}}</h2>

    <div class="task-item" fxLayout="column"
         *ngFor="let task of daily.events">

      <div class="task-title" fxLayout="column">
        <h2 fxFlex="none">{{task.projectName}}</h2>
        <span fxFlex="none" class="event-hour">{{getStateDesc(task)}}</span>
      </div>


        <div class="task-content">
          {{task.title}}
        </div>

        <div fxLayout="row" class="task-action">
          <button mat-button color="warn" *ngIf="task.state!==2" (click)="removeTask(task)">删除</button>
          <button mat-button color="primary" *ngIf="task.state===1 || task.state===3" (click)="closeTask(task)">关闭</button>
        </div>

    </div>
  </div>

  <button  class="create-task" mat-flat-button color="primary" (click)="toCreatePage()">新建任务</button>

</div>
