.mat-card {
  border-radius: 8px;
  padding-left: 28px;
  padding-top: 0;
  padding-right: 0;
}

.task-selection {
  min-height: 36px;
  padding-right: 16px;
}

.task-action {
  padding: 6px 8px 0 0;
}

.task-action mat-icon {
  color: #5f6368;
}

.task-action-close {
  margin-left: 8px;
}


.task-selection mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: #5f6368;
}

.task-selection span {
  padding: 0 10px;
  margin-left: 10px;
  color: #3c4043;
  font-size: 14px;
}

.task-content {
  color: #3c4043;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 22px;
  position: relative;
  top: 0;
  /*line-height: 1.5;*/
  letter-spacing: 1px;
}

.task-date {
  color: #3c4043;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
}

.task-info {
  padding: 3px 16px 3px 0;
  margin-left: 20px;
}

.task-state {
  margin: 11px 4px;
  height: 14px;
  width: 14px;
  border-radius: 30%;
}

.task-project {
  margin-top: 8px;
}

.task-closed {
  background-color: rgb(179, 224, 219);
  color: rgba(32, 33, 36, 0.38);
}

.task-opened {
  background-color: rgb(0, 150, 136);
  color: #fff;
}

.task-delay {
  background-color: rgb(3, 155, 229);
  color: #fff;
}
