.mat-divider {
  border-top-color: rgb(242, 244, 246);
}

.action-bar {
}

.action-bar h1 {
  color: rgb(9, 36, 75);
  font-weight: normal;
}

.action-bar span {
  color: rgb(173, 173, 176);
  margin-left: 15px;
}

.calendar-title {
  background: white;
  padding: 0 30px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.calendar-title h1 {
  color: rgb(9, 36, 75);
}

.calendar-title span {
  color: rgb(181, 189, 201);
  margin-left: 15px;
}

.week-header {
  padding: 0 20px;
  height: 40px;
}

.week-header h1 {
  color: rgb(9, 36, 75);
}

.week-header span {
  margin-left: 10px;
  color: rgb(132, 145, 165);
}

.week-cell {
  height: 120px;
}

/*.week-cell:hover{
  cursor: pointer;
}*/

.task-item {
  border-radius: 4px;
  padding: 0 4px;
  height: 18px;
  line-height: 16px;
  margin-right: 8px;
  cursor: pointer;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .4px;
}

.task-closed {
  background-color: rgb(179, 224, 219);
  color: rgba(32, 33, 36, 0.38);
}

.task-opened {
  background-color: rgb(0, 150, 136);
  color: #fff;
}

.task-delay {
  background-color: rgb(3, 155, 229);
  color: #fff;
}

.current-date {
  color: white;
  background-color: #017aff;
  border-radius: 50%;
}

.lunar {
  font-size: 12px;
  color: #70757a;
}

.current-lunar {
  color: #017aff;
}

.group-button {

}

.group-button .pre {
  min-width: 0;
  padding: 0 6px;
  border-right: none;
  border-color: rgb(230, 233, 237);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.group-button .action {
  border-color: rgb(230, 233, 237);
  border-radius: 0;
}

.group-button .next {
  min-width: 0;
  padding: 0 6px;
  border-color: rgb(230, 233, 237);
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

