<div fxLayout="row" fxLayoutAlign="start baseline" class="action-bar" style="height: 40px;">
  <!--  <h1 fxFlex="none">Schedules</h1>
    <span fxFlex="none">8 schedules todo</span>
    <span fxFlex="grow"></span>
    <button fxFlex="none" fxFlexAlign="center" mat-flat-button color="primary"
            #originFab (click)="newMission($event)">
      <mat-icon>add</mat-icon>
      New
    </button>-->
</div>

<div fxLayout="row" fxLayoutAlign="start baseline" class="calendar-title">
  <h1 fxFlex="none">{{getMonthString(currentDate)}} {{currentDate | date:'yyyy'}}</h1>
  <span fxFlex="none">The 39th week</span>

  <span fxFlex="grow"></span>
  <div fxFlex="none" fxFlexAlign="center" class="group-button">
    <button mat-stroked-button class="pre" (click)="preMonth()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-stroked-button class="action" (click)="thisMonth()">今天
    </button>
    <button mat-stroked-button class="next" (click)="nextMonth()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

</div>


<div fxLayout="row" style="border-bottom: #dadce0 1px solid;">
  <div fxFlex="1 1" *ngFor="let weekday of weekdays;let index = index"
       style="background-color: white;"
       fxLayoutAlign="center center" class="week-header">
    <div style="font-size: 14px;">
      {{weekday}}
    </div>
  </div>
  <!--  <div fxLayout="row"
         fxLayoutAlign="start baseline" class="week-header">
      <h1>23</h1>
      <span>Sun</span>
    </div>-->
</div>

<div fxLayout="column">

  <div *ngFor="let temp of displayDays;let rowIndex = index" fxLayout="row"
       style="border-bottom: #dadce0 1px solid">

    <div fxFlex="1 1" *ngFor="let daily of displayDays[rowIndex];let index = index;"
         fxLayout="column" class="week-cell" (click)="newMission($event,daily)"
         style="border-right: #dadce0 1px solid;"
         [ngStyle]="{'background-color':index%2==0 ? 'white' : 'rgb(251,251,253)' }">
      <div fxLayout="row" fxFlexAlign="start center" (click)="headerClicked($event)">
        <div
          style="font-size: 14px;width: max-content;min-width: 24px;height: 24px;text-align: center;line-height: 24px;margin: 3px;"
          [ngClass]="daily.today?'current-date':''">{{daily.date  | date:"d"}}</div>
        <div fxFlex="none" fxLayout="row" fxFlexAlign="center">
          <span [ngClass]="daily.today?'current-lunar':''" class="lunar">（{{daily.lunar}}）</span>
        </div>
      </div>

      <div *ngFor="let task of daily.events" class="task-item" [ngClass]="getTaskStateColorClass(task.state)"
           matRipple
           (click)="showMissionInfo($event,task)">{{task.projectName}}</div>
    </div>

  </div>

</div>
