<div fxLayout="row" fxLayoutAlign="start baseline" class="action-bar">
  <h1 fxFlex="none">Schedules</h1>
  <span fxFlex="none">8 schedules todo</span>
  <span fxFlex="grow"></span>
  <button fxFlex="none" fxFlexAlign="center" mat-flat-button color="primary"
          #originFab (click)="newMission(originFab)">
    <mat-icon>add</mat-icon>
    New
  </button>
</div>

<div fxLayout="row" fxLayoutAlign="start baseline" class="calendar-title">
  <h1 fxFlex="none">June 25</h1>
  <span fxFlex="none">The 39th week</span>

  <span fxFlex="grow"></span>
  <div fxFlex="none" fxFlexAlign="center" class="group-button">
    <button mat-stroked-button class="pre">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-stroked-button class="action">Today
    </button>
    <button mat-stroked-button class="next">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

</div>

<mat-divider></mat-divider>

<div>
  <div fxFlex *ngFor="let item of [0,1,2,3,4,5,6];let index = index"
       [ngStyle]="{'background-color':index%2==0 ? 'white' : 'rgb(251,251,253)' }">
    <div fxLayout="row" fxLayoutAlign="start baseline" class="week-header">
      <h1>23</h1>
      <span>Sun</span>
    </div>
    <div *ngFor="let item of [0,1,2,3,4]">
      <mat-divider></mat-divider>
      <div class="week-cell" matRipple (click)="newMission($event)">
      </div>
    </div>
  </div>
</div>

<!--弹出动态内容模板-->
<ng-template #overlay>
  <div class="demo-overlay">
    <div style="overflow: auto;">
      <ul><li *ngFor="let item of [1,2,3,4,5]; index as i">{{item}} {{i}}</li></ul>
    </div>
  </div>
</ng-template>


