<div fxLayout="row" fxLayoutAlign="end center">
  <!--  <div class="work-hour-icon work-hour-time"></div>-->
  <div fxFlex="none">工时统计</div>
  <div fxFlex="grow"></div>
  <mat-button-toggle-group (change)="changeSearchType()" [(ngModel)]="searchType" fxFlex="none" name="fontStyle"
                           aria-label="Font Style">
    <mat-button-toggle value="1">月度</mat-button-toggle>
    <mat-button-toggle value="2">季度</mat-button-toggle>
    <mat-button-toggle value="3">年度</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div fxLayout="row" class="work-hour-layout">
  <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
    <div class="work-hour-icon work-hour-ranking"></div>
    <div fxLayout="column">
      <div class="work-hour-label">排行</div>
      <div class="work-hour-text">{{ranking}}</div>
    </div>
  </div>
  <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
    <div class="work-hour-icon work-hour-rating"></div>
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="work-hour-label">工时</div>
      <div class="work-hour-text">{{workHours}}</div>
    </div>
  </div>
</div>

<div class="ranking-layout" style="display: none;">
  <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let user,let ranking = index of rankingUsers">
    <div fxFlex="none" fxLayout="row" fxLayoutAlign="center center" class="user-ranking">
      <p>{{ranking + 1}}</p>
    </div>
    <div fxFlex="none" class="work-hour-icon user-avatar"
         [ngStyle]="{'background-image': 'url(' + user.head + ')'}"></div>
    <div fxFlex="none">{{user.userName}}</div>
    <div fxFlex="grow"></div>
    <div fxFlex="none" class="ranking-hours">{{user.workHours}}</div>
  </div>
</div>
