<div style="background: white;">
  <div class="toolbar-container" fxLayout="row" fxLayoutAlign="start center">
    <div class="toolbar-icon" routerLink="./daily"></div>
    <div class="toolbar-text" routerLink="./daily"></div>

    <div fxFlex fxLayout="row" fxLayoutAlign="center" class="toolbar-nav">

      <!--      <button mat-button routerLink="./daily">
              <div fxLayout="row" fxLayoutAlign="start center">
                <img src="./assets/calendar.svg">
                <span>Calendar</span>
              </div>
            </button>

            <button mat-button routerLink="./gift">
              <div fxLayout="row" fxLayoutAlign="start center">
                <img src="./assets/gift.svg">
                <span>Shop</span>
              </div>
            </button>

            <button mat-button routerLink="./setting">
              <div fxLayout="row" fxLayoutAlign="start center">
                <img src="./assets/setting.svg">
                <span>Settings</span>
              </div>
            </button>-->

    </div>

    <button mat-icon-button matTooltip="商城" routerLink="./gift">
      <mat-icon svgIcon="bee:gift"></mat-icon>
    </button>

    <button mat-button class="avatar-button">
      <div fxLayout="row" fxLayoutAlign="start center" class="avatar">
        <div class="avatar-icon" [ngStyle]="{'background-image':'url('+userInfo.head+')'}"></div>
        <div class="avatar-info">
          <h3>{{userInfo.name}}</h3>
          <div>
            <img src="./assets/integral.svg" style="width: 12px;height: 12px;margin-right: 3px;">
            <span>{{userInfo.score}}</span>
          </div>
        </div>
        <mat-icon fxFlexAlign="start">keyboard_arrow_down</mat-icon>
      </div>
    </button>
  </div>
</div>
