
.toolbar-container {
  max-width: 1400px;
  height: 76px;
  padding: 0 20px;
  margin: 0 auto;
}

.toolbar-icon {
  background-image: url('~src/assets/logo.svg');
  background-size: cover;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.toolbar-text {
  background-image: url('~src/assets/logo-text.png');
  width: 167px;
  height: 34px;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.toolbar-nav {

}

.toolbar-nav button {
  padding: 0 10px;
  margin: 0 10px;
}

.toolbar-nav span {
  font-weight: bold;
  margin-left: 8px;
}

.toolbar-nav img {
  width: 26px;
  height: 26px;
}

.avatar-button {
  padding: 0;
  margin-left: 20px;
}

.avatar {
  padding: 4px 10px;
  text-align: start;
  line-height: normal;
}

.avatar-info {
  padding: 0 10px;
}

.avatar-info span {
  color: rgb(135, 144, 161);
  font-size: 12px;
}

.avatar-info h3 {
  font-size: 14px;
  margin: 0;
}

.avatar-info mat-icon {

}

.avatar-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  /*background-image: url('~src/assets/default-avatar.jpg');*/
  background-size: cover;
}
