<div style="width: 450px;">

  <mat-card style="padding-left: 28px;" class="mat-elevation-z8">
    <div fxLayout="row" [style.fontSize.px]="22">
      <mat-form-field fxFlex="grow" style="margin-left: 40px;margin-top: 10px;">
        <mat-label>添加任务简述</mat-label>
        <textarea matInput class="todo-input"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"></textarea>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="todo-selection">
      <mat-icon>access_time</mat-icon>
      <mat-form-field style="width: 0;height: 0;">
        <input matInput [matDatepicker]="picker" (dateInput)="onDateChanged($event)">
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-button (click)="picker.open()">2019年12月8日</button>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="todo-selection">
      <mat-icon>folder_open</mat-icon>
      <button mat-button fxFlex="grow" fxLayout="grow">请选择一个项目</button>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="todo-selection">
      <mat-icon fxFlex="none">people_alt</mat-icon>
      <button mat-button fxFlex="grow" fxLayout="grow">范德萨 等5人</button>
    </div>

    <div fxLayout="row">
      <span fxFlex="grow"></span>
      <button fxFlex="none" mat-button color="primary">保存</button>
      <button fxFlex="none" mat-flat-button color="primary" style="margin-left: 8px;">保存并关闭</button>
    </div>

    <button mat-icon-button class="todo-close-button">
      <mat-icon>close</mat-icon>
    </button>

  </mat-card>

</div>
