<div class="night-bg">
  <!--  <div class="night">
      <div class="shooting_star" *ngFor="let index of[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"></div>
    </div>-->
</div>

<div fxLayout="row" fxLayoutAlign="center start">
  <form (ngSubmit)="login()" [formGroup]="loginForm" class="login-layout" [ngStyle.lt-sm]="{'margin-top':'40px'}">
    <mat-card class="mat-elevation-z8 login-card" fxLayout="column" fxLayoutAlign="start center">
      <h1>欢迎登录</h1>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlexAlign="stretch" class="login-form">
        <img style="height: 95px;" fxFlex="" src="./assets/username_password.png">

        <div fxFlex="grow" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center" fxFlexAlign="stretch" class="login-input">
            <input fxFlexAlign="stretch" formControlName="username" matInput  placeholder="用户名">
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" fxFlexAlign="stretch" class="login-input">
            <input fxFlexAlign="stretch" formControlName="password" type="password" matInput placeholder="密码">
            <button fxFlex="none" mat-button color="warn" matTooltip="请联系管理员">忘记密码?</button>
          </div>

        </div>

      </div>

      <mat-form-field style="display: none;">
        <input matInput type="text" />
      </mat-form-field>

      <div class="login-button" fxFlexAlign="stretch">
        <div class="login-dash"></div>
        <button [disabled]="loading" type="submit" mat-flat-button color="primary" id="login-button" class="umami--click--login-button">登录</button>
      </div>

      <p>还没有帐号?&nbsp;&nbsp;
        <a href="#" matTooltip="请联系管理员"><b>注册</b></a>
      </p>
    </mat-card>
  </form>
</div>

