  <mat-card class="mat-elevation-z8 login-card" fxLayout="row">

<!--    <div fxFlex="50" class="login-left">
      Little Bee
    </div>

    <div fxFlex="50" class="login-right">

      <H1>LOGIN</H1>

      <mat-form-field appearance="outline">
        <mat-label>用户名</mat-label>
        <input matInput [(ngModel)]="username" placeholder="请输入用户名">
        &lt;!&ndash;        <mat-hint>Hint</mat-hint>&ndash;&gt;
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>密码</mat-label>
        &lt;!&ndash;        <mat-hint>Hint</mat-hint>&ndash;&gt;
        <input matInput [(ngModel)]="password" type="password" placeholder="请输入密码">
      </mat-form-field>

      <button [disabled]="loading" mat-flat-button color="primary" (click)="login()">登录</button>
    </div>-->

  </mat-card>
