<div fxLayout="row" class="container">
  <div class="home-nav">
    <div class="nav-card nav-calendar">
      <app-calendar (selectWeekEvent)="onSelectWeek($event)" (selectDailyEvent)="onSelectDaily($event)"></app-calendar>
    </div>

    <!--    <div class="nav-card">
          <app-event-filter></app-event-filter>
        </div>-->

<!--
    <div class="nav-card hover-shadow">
      <app-clock-in></app-clock-in>
    </div>
-->

    <div class="nav-card">
      <app-dinner></app-dinner>
    </div>

    <div class="nav-card">
      <app-create-vacation></app-create-vacation>
    </div>

    <div class="nav-card">
      <app-action-card title="新建任务" buttonText="新建" desc="开始新建任务吧！" icon="/assets/new-task.svg"></app-action-card>
    </div>

    <div class="nav-card">
      <app-daily-task [daily]="selectDaily"></app-daily-task>
    </div>

  </div>

  <div fxLayout="column" class="home-content" fxFlex>
    <app-event-title [week]="selectWeek" (weekChanged)="changeWeek($event)"></app-event-title>
    <app-event [week]="selectWeek" class="home-event" ></app-event>
  </div>

</div>
