<div fxLayout="row" class="container">
  <div class="home-nav">
    <div class="nav-card nav-calendar">
      <app-calendar ></app-calendar>
    </div>

<!--    <div class="nav-card">
      <app-event-filter></app-event-filter>
    </div>-->

    <div class="nav-card hover-shadow">
      <app-clock-in></app-clock-in>
    </div>

    <div class="nav-card hover-shadow">
      <app-dinner></app-dinner>
    </div>

  </div>

  <div fxLayout="column" class="home-content" fxFlex>
    <app-event-title ></app-event-title>
    <app-event [weekSelectEvent]="weekSelectedEvent" class="home-event" ></app-event>
  </div>

</div>
