<div fxLayout="row" class="container" [ngStyle.lt-sm]="{'padding':'0 20px'}">
  <div class="home-nav" fxFlex="none" fxFlex.lt-md="grow">
    <div class="nav-card nav-calendar">
      <app-calendar (selectWeekEvent)="onSelectWeek($event)" (selectDailyEvent)="onSelectDaily($event)"></app-calendar>
    </div>

    <!--    <div class="nav-card">
          <app-event-filter></app-event-filter>
        </div>-->

<!--
    <div class="nav-card hover-shadow">
      <app-clock-in></app-clock-in>
    </div>
-->

    <div  fxHide.gt-sm>
      <app-daily-task [daily]="selectDaily"></app-daily-task>
    </div>

    <div class="nav-card">
      <app-dinner></app-dinner>
    </div>

    <div class="nav-card">
      <app-create-vacation></app-create-vacation>
    </div>

  </div>

  <div fxLayout="column" class="home-content" fxFlex="grow" fxHide.lt-md>
    <app-event-title [week]="selectWeek" (weekChanged)="changeWeek($event)"></app-event-title>
    <app-event [week]="selectWeek" class="home-event" ></app-event>
  </div>

</div>
