
.home-nav {
  min-width: 360px;
}

.home-content {
  margin-left: 40px;
}

.nav-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  margin-top: 40px;
}

.nav-calendar {
  margin-top: 0;
}

.nav-filter {

}

.home-event {
  margin-top: 15px;
}
