<mat-toolbar fxLayout="row" class="main-toolbar">

  <button mat-button routerLink="/">
    <div fxLayout="row" fxLayoutAlign="start center" class="logo">
      <div class="logo-icon"></div>
      <h1>Little Bee</h1>
    </div>
  </button>

  <span fxFlex="grow"></span>

  <button mat-icon-button class="action-button" routerLink="/dinner">
    <!--    <mat-icon>fastfood</mat-icon>-->
    <img src="../../assets/order-dinner.svg">
  </button>

  <button mat-button [matMenuTriggerFor]="appMenu">
    <div fxLayout="row" class="avatar" fxLayoutAlign="start center">
      <div fxFlex="none" class="avatar-icon"
           [ngStyle]="{'background-image': 'url(' + userInfo.head + ')'}"></div>
      <span>{{userInfo.name}}</span>
    </div>
  </button>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>系统设置</span>
    </button>
    <button mat-menu-item (click)="signOut()">
      <mat-icon>power_settings_new</mat-icon>
      <span>注销登录</span>
    </button>
  </mat-menu>

</mat-toolbar>

<div style="padding: 0 140px">
  <router-outlet></router-outlet>
</div>
