<div class="pt-10">

  <div>
    <p class="font-semibold text-2xl">{{projectInfo.projectName}}</p>
    <span class="text-gray-500">{{projectInfo.projectDesc}}</span>

    <div class="mt-1">
      <span class="cursor-pointer rounded-full bg-gray-200 text-gray-600 text-xs px-2 py-1">原型地址</span>
      <span class="cursor-pointer rounded-full bg-gray-200 text-gray-600 text-xs px-2 py-1 ml-3">原型地址</span>
    </div>
  </div>

  <div class="mt-14 mb-10">
    <div class="text-lg font-semibold mb-4">项目现场</div>
    <div class="flex flex-wrap">

      <div
        class="rounded-full border-dashed text-indigo-600  border-2 border-indigo-600 py-1.5 px-2.5 mr-4 my-2 cursor-pointer"
        matRipple>+ 添加现场
      </div>

      <div matRipple *ngFor="let scene of getProjectScenes()"
           class="rounded-full border bg-gray-100 py-1.5 px-2.5 mr-4 my-2 cursor-pointer">{{scene}}</div>
    </div>
  </div>

  <div class="text-lg font-semibold mb-4">项目成员</div>
  <div class="grid grid-cols-6 gap-4 mb-10">

    <div
      class="flex justify-center items-center rounded-lg bg-white px-2 py-2 text-indigo-600 border-dashed cursor-pointer border-2 border-indigo-600"
      matRipple>
      + 添加成员
    </div>

    <div class="flex items-center rounded-lg bg-gray-100 px-2 py-2 cursor-pointer"
         matRipple
         *ngFor="let member of projectMembers">
      <img class="flex-none aspect-square w-8 h-8" src="./assets/ic_avatar.svg">
      <div class="grow flex flex-col justify-center ml-3">
        <p style="margin-bottom: 0!important;">{{member.name}}</p>
        <span class="text-gray-400 text-xs">{{member.roleId}}</span>
      </div>
      <!--      <div class="flex cursor-pointer">
              <mat-icon class="m-1">close</mat-icon>
            </div>-->
    </div>

  </div>

  <div class="text-lg font-semibold mb-4">最近动态</div>
  <div class="flex flex-col w-full">
    <div class="flex items-center py-2" *ngFor="let task of projectInfo.recentTasks">
      <img class="aspect-square w-6 h-6" src="./assets/ic_avatar.svg">
      <span class="ml-2 whitespace-nowrap">{{task.leaders}}</span>
      <span class="ml-2 text-gray-500  whitespace-nowrap">创建了任务</span>
<!--      <span class="ml-2 truncate">{{task.taskContent}}</span>-->
      <span class="ml-2 text-gray-500  whitespace-nowrap">{{task.createTime | dateAgoFormat}}</span>
    </div>
  </div>
</div>
