<div fxLayout="row" fxLayoutAlign="start center" class="event-title">
  <h2>December 15 - 21,2019</h2>
  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <span fxFlex></span>

  <button mat-flat-button color="primary">
    Add Event
  </button>
</div>
