<div fxLayout="row" fxLayoutAlign="start center" class="event-title">
  <h2 fxFlex="none">{{getDisplayWeekName()}}</h2>
  <button mat-icon-button [matTooltip]="statisticsTask()"  matTooltipClass="tooltip-break-line" id="to-shop" class="umami--click--to-shop">
    <mat-icon svgIcon="bee:pie-chart"></mat-icon>
  </button>

<!--  <button mat-icon-button matTooltip="Multiline Tooltip &#13; This is second line"  matTooltipClass="tooltip-break-line" class="umami&#45;&#45;click&#45;&#45;to-shop">
    <mat-icon svgIcon="bee:pie-chart"></mat-icon>
  </button>-->
<!--  <button fxFlex="none" mat-icon-button (click)="weekChanged.emit(-1)" aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button  fxFlex="none" mat-icon-button (click)="weekChanged.emit(1)" aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>-->
  <span fxFlex></span>

  <button mat-flat-button color="primary" (click)="newTask()">
    新建任务
  </button>
</div>
