<div>

  <div class="flex flex-col items-center p-8 rounded">
    <img class="w-20 h-20 rounded-full" src="{{userInfo.head}}">
    <div class="font-semibold text-2xl mt-4 mb-2">{{userInfo.name}}</div>
    <div class="flex items-center">
      <!--        7730 积分  1111经验 7级-->
      <img class="w-4 h-4" src="assets/ic_avatar.svg">
      <span class="ml-2">{{userInfo.score}}&nbsp;积分</span>
      <div class="w-1.5 h-1.5 bg-gray-400 rounded-full mx-4"></div>
      <img class="w-4 h-4" src="assets/ic_avatar.svg">
      <span class="ml-2">{{userInfo.exp}}&nbsp;经验</span>
      <div class="w-1.5 h-1.5 bg-gray-400 rounded-full mx-4"></div>
      <img class="w-4 h-4" src="assets/ic_avatar.svg">
      <span class="ml-2">{{userInfo.level}}级 ({{userInfo.levelName}})</span>
    </div>
  </div>

  <div class="flex justify-between">
    <h2>工时排行</h2>
    <div>所有时间</div>
    <!--      年度、季度、月度-->
  </div>

  <div class="flex">
    <div *ngFor="let type of ['月度','季度','年度']"
         class="rounded-full border py-1.5 px-6 mr-4 cursor-pointer" matRipple>{{type}}</div>
  </div>

  <div class="grid grid-cols-4 gap-6 my-10">

    <div class="flex items-center rounded-lg hover:bg-gray-100 py-2 cursor-pointer"
         *ngFor="let user of rankingUsers;let i=index;">
      <div class="flex-none flex justify-center w-10 text-gray-600">
        <div>{{i+1}}</div>
      </div>
      <img class="flex-none w-14 h-14 rounded-full" src="{{user.head?user.head:'assets/ic_avatar.svg'}}">
      <div class="grow flex flex-col justify-center ml-3">
        <div class="text-base">{{user.userName}}</div>
<!--        <div class="text-gray-400 text-xs">产品经理</div>-->
        <span class="text-gray-400 text-xs mt-1">{{user.workHours}}小时</span>
      </div>
    </div>
  </div>

</div>
