<div class="mt-10">

  <!--  <div class="grid grid-cols-16">

      <div *ngFor="let ds of dateStrings" class="col-span-2 h-12 flex justify-center items-center">
        <span>{{ds}}</span>
      </div>-->

  <div class="flex justify-center py-8">
    <span class="text-3xl">一周菜单</span>
  </div>

  <table class="border-collapse border border-slate-400 w-full table-fixed">
    <thead>
    <tr>
      <th colspan="2" class="border border-slate-300 h-12" *ngFor="let ds of dateStrings;let i = index;" [ngClass]="{'text-indigo-600':i==4,'bg-gray-100':i==4}">
        {{ds}}
      </th>
    </tr>

    </thead>
    <tbody>

    <tr>
      <td rowspan="3" class="px-2 border border-slate-300 ">午餐</td>
      <td class="px-2 border border-slate-300">一楼</td>
      <td class="px-2 border border-slate-300 h-36 hover:bg-gray-200 cursor-pointer" colspan="2" *ngFor="let l1 of lunch1;let i = index;"  [ngClass]="{'text-indigo-600':i==3,'bg-gray-100':i==3}">
        <div *ngFor="let menu of l1">{{menu}}</div>
      </td>
    </tr>

    <tr>
      <td class="px-2 border border-slate-300">二楼</td>
      <td class="px-2 border border-slate-300 h-36 hover:bg-gray-200 cursor-pointer" colspan="2" *ngFor="let l2 of lunch2;let i = index;"  [ngClass]="{'text-indigo-600':i==3,'bg-gray-100':i==3}">
        <div *ngFor="let menu of l2">{{menu}}</div>
      </td>
    </tr>

    <tr>
      <td class="px-2 border border-slate-300">B餐</td>
      <td class="px-2 border border-slate-300 h-16 hover:bg-gray-200 cursor-pointer" colspan="2" *ngFor="let lb of lunchB;let i = index;"  [ngClass]="{'text-indigo-600':i==3,'bg-gray-100':i==3}">
        <div *ngFor="let menu of lb">{{menu}}</div>
      </td>
    </tr>

    <tr>
      <td colspan="2" class="px-2 border border-slate-300">晚餐</td>
      <td colspan="2" class="px-2 border border-slate-300 h-36 hover:bg-gray-200 cursor-pointer" *ngFor="let ld of dinner;let i = index;"  [ngClass]="{'text-indigo-600':i==3,'bg-gray-100':i==3}">
        <div *ngFor="let menu of ld">{{menu}}</div>
      </td>
    </tr>

    <tr>
      <td colspan="2" class="px-2 border border-slate-300"></td>
      <td colspan="2" class="px-2 border border-slate-300 h-20" *ngFor="let ld of dinner">
        <div class="h-full flex justify-center items-center">
          <button mat-stroked-button color="primary">预定晚餐</button>
        </div>
      </td>
    </tr>

    </tbody>
  </table>

  <div class="py-4">
    <span class="text-gray-300">菜品根据市场价格和供货情况进行微调，此菜单仅供参考。</span>
  </div>

</div>
