<div class="pt-10">
  <span class="text-lg font-semibold">项目负责人</span>

  <div class="flex rounded-lg bg-gray-100 px-4 py-3 my-6">
    <img class="aspect-square w-12 h-12" src="./assets/ic_avatar.svg">
    <div class="flex flex-col justify-center ml-3">
      <h3 style="margin-bottom: 0!important;">{{projectInfo?.managerName}}</h3>
      <span class="text-gray-500 text-sm"></span>
    </div>
  </div>

  <div class="flex justify-between items-center my-2">
    <span style="margin-bottom: 0!important;">开始时间</span>
    <span>{{projectInfo?.startDate}}</span>
  </div>

  <div class="flex justify-between items-center my-2">
    <span style="margin-bottom: 0!important;">预计结束</span>
    <span>{{projectInfo?.endDate}}</span>
  </div>

  <div class="flex justify-between items-center my-2">
    <span style="margin-bottom: 0!important;">关联项目</span>
    <span>{{projectInfo?.oaProjectName}}</span>
  </div>

  <div class="flex items-center my-1">
    <span style="margin-bottom: 0!important;">状态</span>
    <span class="grow"></span>
    <div class="w-4 h-4 bg-green-500"></div>
    <span class="ml-2">正常</span>
  </div>

  <div class="border-t border-gray-300 my-8"></div>

  <div class="flex items-center rounded-lg bg-gray-100 px-4 py-3 mb-4">
    <img class="aspect-square mr-2 w-8 h-8" src="./assets/ic_avatar.svg">
    <h3 style="margin-bottom: 0!important;">任务数量</h3>
    <span class="grow"></span>
    <span class="text-lg font-semibold">{{projectInfo?.taskCount}}</span>
  </div>

  <div class="flex items-center rounded-lg bg-gray-100 px-4 py-3 mb-4">
    <img class="aspect-square mr-2 w-8 h-8" src="./assets/ic_avatar.svg">
    <h3 style="margin-bottom: 0!important;">总工时</h3>
    <span class="grow"></span>
    <span class="text-lg font-semibold">200</span>
  </div>

  <div class="flex items-center rounded-lg bg-gray-100 px-4 py-3 mb-4">
    <img class="aspect-square mr-2 w-8 h-8" src="./assets/ic_avatar.svg">
    <h3 style="margin-bottom: 0!important;">变更</h3>
    <span class="grow"></span>
    <span class="text-lg font-semibold">{{projectInfo?.changeHistory?.length}}</span>
  </div>

</div>
