<div class="pt-10 pb-4">
  <h2>项目管理</h2>
  <span class="text-gray-500">韦氏词典的年度词是“gaslighting”（煤气灯效应），而牛津英语词典的年度词是 goblin mode。</span>

  <div class="flex mt-8">
    <div class="flex rounded-lg p-1 bg-gray-200">
      <div (click)="changeProjectType(true)" [ngClass]="{'bg-white':isMyProject}" class="rounded-lg py-1 px-3 cursor-pointer">我参与的</div>
      <div (click)="changeProjectType(false)"  [ngClass]="{'bg-white':!isMyProject}" class="rounded-lg py-1 px-3 ml-1 cursor-pointer">所有</div>
    </div>
  </div>
</div>

<div class="min-h-[36rem]">
  <div class="grid grid-cols-4 gap-2">
    <div matRipple class="flex cursor-pointer items-center p-3 hover:bg-gray-100 rounded-lg"
         routerLink="/projectInfo"
         *ngFor="let project of projects">
      <img class="flex-none aspect-square w-12 h-12 rounded-lg"
           src="{{project.projectIcon?project.projectIcon:'./assets/ic_android.svg'}}">
      <div class="flex-grow ml-4">
        <span class="text-gray-500">{{project.projectNo}}</span>
        <div>
          <span class="text-base py-1" style="margin-bottom: 0!important;">{{project.projectName}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
