<div class="p-4">
  <div class="flex justify-between items-center">
    <img class="w-12 aspect-square" src="assets/dining.svg"/>
    <div class="grow mx-4">
      <div class="text-lg">晚餐预订</div>
      <span class="text-gray-500">附近德拉基法拉发电机是啊了</span>
    </div>
    <app-loading-button buttonText="预定"></app-loading-button>
  </div>

  <div class="mt-4">
    <div class="flex" *ngFor="let a of [0,1,2]">
<!--      <div class="h-3.5 w-3.5 bg-amber-400 flex-none"></div>-->
      <div class="flex-none py-1">午餐(一楼):&nbsp;&nbsp;</div>
      <div class="flex flex-wrap items-center">
        <span *ngFor="let name of ['辣仔鸡','小排炖萝卜','木耳炒花菜','青菜']"
              class="bg-gray-100 rounded text-gray-700 py-0.5 px-1.5 m-0.5 text-xs">{{name}}</span>
      </div>
    </div>
  </div>

</div>
