<!--<app-daily-list></app-daily-list>-->
<!--<app-sub-toolbar></app-sub-toolbar>-->
<!--<app-card-working-hours></app-card-working-hours>-->
<!--<app-card-dining></app-card-dining>-->
<!--<app-projects></app-projects>-->
<div class="flex py-14">
  <div class="w-96 flex-none">
    <div class="bg-white">
      <app-daily-calendar (selectWeekEvent)="onSelectWeek($event)"></app-daily-calendar>
    </div>
    <div class="bg-white mt-4">
      <app-card-working-hours></app-card-working-hours>
    </div>
    <div class="bg-white mt-4">
      <app-card-dining></app-card-dining>
    </div>
  </div>
  <div class="grow ml-10">
    <app-sub-toolbar [week]="selectWeek"></app-sub-toolbar>
    <app-daily-list [week]="selectWeek"></app-daily-list>
  </div>
</div>
