<!--<app-daily-list></app-daily-list>-->
<!--<app-sub-toolbar></app-sub-toolbar>-->
<!--<app-card-working-hours></app-card-working-hours>-->
<!--<app-card-dining></app-card-dining>-->
<!--<app-projects></app-projects>-->
<div class="flex">
  <div class="w-96">
    <app-daily-calendar></app-daily-calendar>
<!--    <app-card-working-hours></app-card-working-hours>
    <app-card-dining></app-card-dining>-->
  </div>
  <div class="grow">
<!--    <app-sub-toolbar></app-sub-toolbar>
    <app-daily-list></app-daily-list>-->
  </div>
</div>
