<div fxLayout="row" class="event-weekday-container">
  <div fxFlex fxLayout="column" fxLayoutAlign="center" matRipple class="event-weekday"
       [ngClass]="{'event-today':week[index].today}"
       *ngFor="let index of [0,1,2,3,4,5,6] " (click)="newEvent($event,week[index].date)">
    <h2 style="text-align: center;">{{week[index].date | date:'d'}}</h2>
    <span>{{displayWeekdays[index]}}</span>
  </div>
</div>

<div fxLayout="row" class="event-container">
  <div fxFlex fxLayout="column" fxLayoutAlign="start none" class="event-column"
       *ngFor="let index of [0,1,2,3,4,5,6] ">

    <div class="event-item" matRipple *ngFor="let event of week[index].events" (click)="showEventInfo($event,event)">
      <div fxLayout="row" fxLayoutAlign="start center" class="event-item-title">
        <span fxFlex=""></span>
      </div>
      <h3>{{event.projectName}}</h3>
      <!--      <p>Mozilla 可能终止了对 Rust 语言的资助，但有 Linux 项目的支持和加持，它的未来还是安全的。</p>-->
      <span class="event-hour">{{event.workHours}}小时</span>
    </div>

  </div>
</div>
