<div  class="dinner">
  <div fxLayout="row" fxLayoutAlign="start center">
    <img fxFlex="none" src="assets/dinner-icon.svg">
    <div fxLayout="column" fxFlex="grow">
      <h2>晚餐预定</h2>
      <span>09:00 - 14:00</span>
    </div>

    <app-loading-button fxFlex="none"
                        [tooltip]="tips"
                        [disabled]="readonly && !moreAction"
                        [loading]="isLoading"
                        (action)="switchOrder()"
                        [buttonText]="getOrderDesc()"></app-loading-button>
  </div>

<!--  <mat-divider></mat-divider>-->

  <div class="meal-order" fxLayout="column" >
    <div fxLayout="row"  fxLayoutAlign="start center">
      <div fxFlex="none" class="food-label">午餐：</div>
<!--      <div fxFlex="none" class="food line-limit-length" *ngFor="let food of ['红烧茄子gfdsgfdsgfdsgfdsgfsd','红烧茄子','红烧茄子','红烧茄子']">
        <p>{{food}}</p>
      </div>-->
      <div class="food" *ngFor="let food of ['红烧茄子']">
        <!--        <p>{{food}}</p>-->
        <p>红烧茄子&nbsp;&nbsp;|&nbsp;&nbsp;红烧茄子&nbsp;&nbsp;|&nbsp;&nbsp;红烧茄子&nbsp;&nbsp;|&nbsp;&nbsp;红烧茄子</p>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="none" class="food-label">晚餐：</div>
      <div class="food" *ngFor="let food of ['红烧茄子']">
<!--        <p>{{food}}</p>-->
        <p>红烧茄子&nbsp;&nbsp;|&nbsp;&nbsp;红烧茄子&nbsp;&nbsp;|&nbsp;&nbsp;红烧茄子&nbsp;&nbsp;|&nbsp;&nbsp;红烧茄子</p>
      </div>
    </div>

  </div>
</div>
