.dinner-icon {
  width: 100px;
  height: 100px;
}

.dinner {
  margin-top: 100px;
  /*padding: 60px 0;*/
  /*max-width: 900px;*/
}

.dinner span {
  margin-bottom: 10px;
}


.dinner button {
  width: 200px;
  height: 54px;
  margin-top: 60px;
  font-size: 18px;
}
