<div class="dinner">
  <div fxLayout="row" fxLayoutAlign="start center">
    <img fxFlex="none" src="assets/dinner-icon.svg">
    <div fxLayout="column" fxFlex="grow">
      <h2>晚餐预定</h2>
      <span>09:00 - 14:00</span>
    </div>

    <app-loading-button fxFlex="none"
                        [tooltip]="tips"
                        [disabled]="readonly && !moreAction"
                        [loading]="isLoading"
                        (action)="switchOrder()"
                        [buttonText]="getOrderDesc()"></app-loading-button>
  </div>

  <!--  <mat-divider></mat-divider>-->

  <div class="meal-order" fxLayout="column" *ngIf="mealOrder">
    <div fxLayout="row" class="food-layout" fxLayoutAlign="start start">
      <div fxFlex="none" class="food-label">午餐：</div>
      <div class="food">
        <p>{{getMealDes('午餐')}}</p>
      </div>
    </div>

    <div fxLayout="row" class="food-layout" fxLayoutAlign="start start">
      <div fxFlex="none" class="food-label">晚餐：</div>
      <div class="food">
        <p>{{getMealDes('晚餐')}}</p>
      </div>
    </div>

  </div>
</div>
