
.dinner {
  /*padding: 60px 0;*/
  background: white;
  /*max-width: 900px;*/
}

.dinner img {
  width: 56px;
  height: 56px;
  margin-right: 10px;
}

.dinner h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}


.dinner span {
  margin-bottom: 0;
  font-size: 14px;
  color: #999999;
}

.meal-order{
  margin-top: 20px;
}

.food-label{
  font-weight: 600;
}

.food{
  background: #dcdcdc;
  border-radius: 12px;
  color: #464646;
  padding: 2px 6px;
  font-size: 14px;
  margin: 4px;
  cursor: pointer;
}


/*
.dinner button {
  width: 200px;
  height: 54px;
  margin-top: 60px;
  font-size: 18px;
}*/
