
.log-card{
  padding: 10px 20px;
  background: #b0b0b0;
}

.log-date{
  margin: 8px 0;
}

.log-label {
  border-radius: 4px;
  padding: 4px 5px;
  background: #3c4043;
  display: inline-table;
  font-size: 1em;
  color: white;
  margin-bottom: 5px;
  margin-top: 10px;
}

.log-label-new {
  background: #4CAF50;
}

.log-label-improved {
  background: #7d8cf9;
}

ul{
  margin-top: 10px;
  margin-bottom: 10px;
}

li{
  padding: 3px 0;
}
