<div fxLayout="row" class="container shop-container">

  <div fxLayout="row wrap" class="shop-content">

    <div fxFlex="25" fxFlex.lt-sm="100" fxFlex.lt-md="50" fxFlex.lt-lg="33" *ngFor="let gift of gifts" class="goods-item">
      <div fxLayout="column" class="goods-content hover-shadow">
        <div class="goods-img" [ngStyle]="{'background-image': 'url(' + gift.img + ')'}"></div>

        <div fxLayout="row" fxLayoutAlign="start end" class="goods-info">
          <h4 fxFlex="grow">{{gift.name}}</h4>
          <div fxFlex="none" class="integral-icon"></div>
          <span fxFlex="none">{{gift.price}}</span>
        </div>

        <button mat-flat-button color="primary"
                (click)="exchangeGift(gift)"
                [disabled]="gift.leftCount<=0">{{gift.leftCount <= 0 ? '库存不足' : '兑换'}}</button>
      </div>
    </div>

  </div>

</div>

