@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//http://mcg.mbitson.com/

/* For use in src/lib/core/theming/_palette.scss */
// define a real custom palette (using http://
//https://codeday.me/bug/20180822/223844.html
/* For use in src/lib/core/theming/_palette.scss */
$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$md-primary-palette: (
  50 : #e1efff,
  100 : #b3d7ff,
  200 : #80bdff,
  300 : #4da2ff,
  400 : #278eff,
  500 : #017aff,
  600 : #0172ff,
  700 : #0167ff,
  800 : #015dff,
  900 : #004aff,
  A100 : #ffffff,
  A200 : #f2f5ff,
  A400 : #bfceff,
  A700 : #a6baff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-warn: (
  50 : #ffe5e5,
  100 : #ffbebe,
  200 : #ff9393,
  300 : #ff6768,
  400 : #ff4747,
  500 : #ff2627,
  600 : #ff2223,
  700 : #ff1c1d,
  800 : #ff1717,
  900 : #ff0d0e,
  A100 : #ffffff,
  A200 : #fff6f6,
  A400 : #ffc3c3,
  A700 : #ffaaaa,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$candy-app-primary: mat-palette($md-primary-palette);
//$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($md-primary-palette);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($md-warn);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($candy-app-primary);
$accent: mat-color($candy-app-accent);
$warn: mat-color($candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
