/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*use local roboto font and material icons
https://gist.github.com/timbophillips/455ac41659fddcd774c5550650665b66*/
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import '~material-icons/iconfont/material-icons.css';
body {
  margin: 0;
  /*background-color: rgb(247,248,252);*/
  background: #f5f6fa;
/*  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("./assets/bg.svg");*/
  font-family: Roboto,Helvetica Neue,sans-serif;
}

.transparent-drop-bg {
  background: transparent;
}

.container {
  max-width: 1400px;
  margin: 46px auto;
  padding: 0 40px;
}

.hover-shadow {
  transition: transform .2s ease-in-out, box-shadow .15s cubic-bezier(.47, 0, .745, .715), border .3s linear .1s;
}

.hover-shadow:hover {
  box-shadow: 0 0 20px rgba(51, 51, 51, 0.25);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
}

.space-pre{
  white-space: pre-wrap;
}
