<div class="calendar-container">
  <div fxLayout="row" fxLayoutAlign="start center" class="calendar-bar">
    <h3>{{currentDate | dateFnsFormat:'MMM , yyyy'}}</h3>
    <span fxFlex></span>
    <button mat-icon-button (click)="preMonth()"
            aria-label="pre month">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button (click)="nextMonth()"
            aria-label="next month">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <div fxLayout="row" class="calendar-label">
    <div class="calendar-label-item" *ngFor="let weekday of weekdays">
      {{weekday}}
    </div>
  </div>


  <div *ngFor="let week of displayDays" fxLayout="row" class="calendar-column"
       [ngClass]="{'calendar-column-selected':weekIsSelected(week)}">
    <div *ngFor="let column of [0,1,2,3,4,5,6]" matRipple fxLayout="column"
         (click)="onSelectWeek(week)"
         fxLayoutAlign="start none" class="calendar-item" [ngClass]="{'calendar-today':week[column].today}">
      <h2 class="calendar-button">{{ week[column].date | date:'d' }}</h2>
      <div fxLayout="row" fxLayoutAlign="center center" class="calendar-point">
        <span *ngFor="let event of week[column].events"></span>
      </div>
    </div>
  </div>

</div>
