<div class="calendar-container">
  <div fxLayout="row" fxLayoutAlign="start center" class="calendar-bar">
    <h3>{{currentDate | dateFnsFormat:'MMM , yyyy'}}</h3>
    <span fxFlex></span>
    <button mat-icon-button (click)="preMonth()"
            aria-label="pre month">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button (click)="nextMonth()"
            aria-label="next month">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <div fxLayout="row" class="calendar-label">
    <div class="calendar-label-item" fxFlex *ngFor="let weekday of weekdays">
      {{weekday}}
    </div>
  </div>

  <div *ngFor="let week of displayDays" fxLayout="row" class="calendar-column"
       [ngClass]="{'calendar-column-selected':weekIsSelected(week)}">
    <div *ngFor="let column of [0,1,2,3,4,5,6]" matRipple fxLayout="column"
         (click)="onSelectWeek(week,column)" fxFlex
         fxLayoutAlign="start none" class="calendar-item" [ngClass]="{'calendar-today':week[column].today}">

      <div style="width: 100%;padding-bottom: 100%;">
<!--        <div style="position: absolute;left: 4px;top: 4px;height: calc(100% - 8px);width:calc(100% - 8px);background: #455af7;border-radius: 8px;">
        </div>-->
        <div style="position: absolute;left: 0;top: 0;height: 100%;width: 100%;" fxLayout="row" fxLayoutAlign="center center">
          <h2 class="calendar-day"
              [ngStyle]="{'opacity':isCurrentMonth(week[column])?1:0.3}">
            {{ week[column].date | date:'d' }}</h2>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="calendar-point">
                <span [ngStyle]="{'background':task.color.primary}"
                      *ngFor="let task of week[column].events.length <= 3?week[column].events:week[column].events.slice(0,3)"></span>
        </div>
      </div>

    </div>
  </div>

</div>
