<div fxLayout="column">
  <div style="height: 64px;background: #4da2ff;"></div>
  <div style="background: #5f6368;">

    <div style="background: #f2f5ff;max-width: 1400px;margin: 0 auto;" fxLayout="row">

      <div style="height: 300px;width:360px;background: #3577cc;" fxFlex="300px"></div>
      <div style="height: 500px;background: #3c4043;" fxFlex></div>

    </div>


  </div>

  <div style="height: 64px;background: #2e373e;"></div>
</div>
<!--https://www.imwhite.com.cn/category/angular-material/-->
